.podvuceno { text-decoration: underline; }
.choose { color: red}
.rookie { background-color: seagreen;}
.file { text-decoration-line: overline; color: chartreuse;}
.done {font-weight: bolder; color: crimson;}